.home-board-div{
    position: relative;
    width: 100%;
    height: 73px;
    background: var(--radial-gradient);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.home-board-left{
    color: white;
}
.home-board-left p{
    font-size: var(--body-s);
    color: hsla(0,0%,100%,.75);
}
.hidden{
    display: none;
    
}
.side-bar-div{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    top: 100%;
    bottom: 0;
    height: 2700px;
    transition: .2s ease-in-out;
    opacity: 1;
    z-index: 2;
    right: 0px;
    display: flex;
    justify-content: end;
    
}
.side-bar-show{
    opacity: 1;
}
.side-bar-hide{
    opacity: 0;
    pointer-events: none;
}
.side-bar-content{
    position: absolute;
    background-color: white;
    width: 85%;
    max-width: 272px;
    height: 100%;
    transition: 0.2s;
    padding: 48px;
    z-index: 3;
    overflow: hidden;
}
.side-bar-content-show{
    right: 0;
   
}
.side-bar-content-hide{
   right: -100%;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 64px;
}

.filters li{
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    max-height: 32px;
}
.non-active{
    background-color: var(--grey);
    color: var(--blue);
}
.filter-active{
    background-color: #4661e6;
    color: white;
}
.roadmap-div{
    width: 100%;
    margin-top: 40px;
}
.roadmap-title{
    display: flex;
    justify-content: space-between; 
}
a{
    color: blue;
    text-decoration: underline;
}
.roadmap-list{
    list-style: none;
    margin-top: 20px;
}
.roadmap-list li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: var(--grey-dark);
    font-weight: 700;
}
.list-item{
    display: flex;
    align-items: center;
    color: var(--grey-dark);
    font-weight: 400;
}

.bullet{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
}
.roadmap-list li:nth-child(1) .bullet {
   background-color: #f49f85; 
}
.roadmap-list li:nth-child(2) .bullet {
   background-color: #ad1fea; 
}
.roadmap-list li:nth-child(3) .bullet {
   background-color: #62bcfa; 
}
@media (min-width:760px) {
    .side-bar-div{
        display: none;
    }
}