.add-feedback-div{
    width: 100%;
    height: 63px;
    min-height: 50px;
    background-color: var(--grey-darkest);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    position: relative;
}
.sort-by{
    color: white;
    font-size: var(--h4);
    cursor: pointer;
    
}
.sort-by span{
    margin-right: 8px;
    font-weight: 700;
}
.sort-by svg{
    transition: 0.2s;
}
.add-feedback-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    background-color: var(--purple);
    cursor: pointer;
    border-radius: 10px;
    padding: 12px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: var(--grey);
    border: 0px;
    text-align: center;
    text-decoration: none;
}
.add-feedback-btn:hover{
    background-color:#c465ec ;
}
.active{
   transform: rotate(180deg);
}
.dropdown{
    border-radius: 8px;
    padding: 0px;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    position: absolute;
    top: 52px;
    
}
.dropdown-open{
    box-shadow: 0 10px 40px -7px rgba(55,63,104,.35);
    border-radius: 8px;
    width: 200px;
    height: 160px;
    opacity: 1;
    pointer-events: all; 
}
.dropdown-close{
    opacity: 0;
    width: 200px;
    height: 160px;
    position:absolute;
    pointer-events: none;
}
.drop-item{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(92, 86, 86, 0.226);
    font-size: var(--body);
    padding: 4px 20px;
    display: flex;
    align-items: center;
    color: var(--grey-dark);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.drop-item:last-child{
    border: 0px;
}
.votes-count-div{
    display: flex;
    column-gap: 12px;
}
.p-count{
    color: #fff;
    font-size: var(--h3);
    font-weight: bold;
}
.hidden{
    display: none;
}
@media (max-width:500px){
    .p-count{
        display: none;
    }
}